<style>
    * {
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    body {
        margin: 0;
    }
    .page {
        background-color: rgba(0, 0, 0, 0.05);
        padding: 1rem;
    }
    form {
        background-color: rgba(0, 0, 0, 0.05);
        padding: 0.5rem;
        border-radius: 4px;
    }
    label {
        font-size: 0.8125rem;
    }
    input {
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        padding: 0.25rem;
        width: 150px;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    button {
        width: fit-content;
        padding: 0.25rem 1rem;
        background-color: black;
        color: white;
        font-weight: 500;
        font-size: 0.75rem;
        border-radius: 2px;
        cursor: pointer;
    }
    .itinerarie {
        background-color: rgba(0, 0, 0, 0.05);
        padding: 1rem;
        margin-bottom: 1rem;
        p {
            font-size: 0.75rem;
        }
    }
    h4 {
        margin: 0;
    }
    .leg {
        margin-bottom: 2rem;
    }
    a {
        display: block;
        margin-bottom: 0.25rem;
        font-size: 0.75rem;
    }
    
</style>
<div class="page">
    <a href="{% url 'home' %}">Inicio</a>
    <a href="{% url 'itinerarie-list' %}">Itinerarios</a>
    <a href="{% url 'leg-list' %}">Tramos</a>
    <h3>Itinerarios</h3>
    <form action="" method="get" >
        <div class="input-field">
            <label for="id_price">Precio menor a:</label>
            <input type="number" name="price" id="id_price" value="{{ price }}" min="0">
        </div>
        <div class="input-field">
            <label for="id_rating">Calificación mayor a:</label>
            <input type="number" step=".1" name="rating" id="id_rating" value="{{ rating }}" min="0" max="10">
        </div>
        
        <button>Buscar</button>
    </form>
    
    {% for itinerarie in itinerarie_list %}
        <div class="itinerarie">
            <h4>Itinerario {{ itinerarie.id }}</h4>
            <h5><b>Tramos: </b></h5>
            {% for leg in itinerarie.legs.all %}
            <div class="leg">
                <p>- {{ leg.id }}</p>
                <p><b>Aeropuerto de salida: </b>{{ leg.departure_airport }}</p>
                <p><b>Aeropuerto de entrada: </b>{{ leg.arrival_airport }}</p>
                <p><b>Hora de salida: </b>{{ leg.departure_time|date:"d/m/Y h:i a" }}</p>
                <p><b>Hora de llegada: </b>{{ leg.arrival_time|date:"d/m/Y h:i a" }}</p>
            </div>
            {% endfor %}
            <p><b>Precio: </b>{{ itinerarie.price }}</p>
            <p><b>Agente: </b>{{ itinerarie.agent }}</p>
            <p><b>Calificación: </b>{{ itinerarie.agent_rating }}</p>
        </div>
    {% empty %}
    <p>No se encontraron resultados</p>
    {% endfor %}
</div>


